.internship{
    background: #0a192f;
    display: flex;
    flex-direction: row;
    .internshiprow{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 65px;
    }
    .socialWrapper{
        display: flex;
        justify-content: center;
        align-content: flex-end;
        width: 20%;
        
    }
    .emailWrapper{
        display: flex;
        justify-content: center;
        align-content: flex-end;
        width: 20%;
    }
}
.internship-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem;
}
.internship-number{
    margin-bottom: 1px;
    margin-right: 1rem;
    color: #64ffda;
}
.internship-header{
    color: #8892b0;
    margin-right: 1rem;
}
.internship-line{
    width: 500px;
    border: 1px solid #8892b0;
}
.internship-img{
    height: 400px;
    width: 600px;
    border-radius: 5px;
    z-index: 10;
}
.internship-img-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 1rem;
}
.internship-img-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.overlay-img-container-internship{
    min-height: 400px;
    min-width: 600px;
    border-radius: 5px;
    z-index: 12;
    background-color: #64ffda;
    margin-right: -600px;
    opacity: .5;
}
.overlay-img-container-internship:hover{
    opacity: 0;
}
.internship-content-1{
    width: 50%;
}
.internship-1{
    display: flex;
    margin-top: 3rem;
}
.border-image-internship{
    height: 400px;
    width: 600px;
    border: 3px solid #64ffda;
    border-radius: 5px;
    margin-left: -580px;
    margin-top: 35px;
}
.internship-me-content-text{
    color: #a8b2d1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intership-content-1-header{
    color: #8892b0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.feature-header-internship{
    color: #64ffda;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;    
    margin-right: 3rem;
    margin-top: 0rem;

}
.feature-content-internship{
    color: #8892b0;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;    
    margin-right: 3rem;

}

.feature-header-internship-2{
    color: #64ffda;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;    
    margin-right: 3rem;
    margin-top: 2.5rem;

}