.mobiledev{
    background-image: url("../assets/gym.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    .mobileContent{
        margin-top: 25px;
    }
    .mobileSShots{
        height:600px;
        width: 350px;
        border: 3px solid rgba(255, 255, 255, .7);
        padding: 25px;
        border-radius: 10px;
    }
    .mobileVideo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
